body{
    font-family: 'Times New Roman', Times, serif;
    background: url(13.avif);
    background: rgba(0, 0, 0, .5);/*الخلفيه شفافه */
    background-size: cover;
    padding: 0;
    margin: 0;
}
.bigContainer{
    background: url(13.avif) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:94vw;
    height: 86vh;
    margin-left: 3vw;
    margin-top: 3vh;
    box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.8);
    border-radius: 12px;

}
.whiteLine{
    position: relative;
    height: 8vh;
}
.whiteLine::after{
        content: "";
        position: absolute;
        bottom: 0;
        width: 38vw;
        height: 1px;
        left:1vw;
        background-color: #fff;
}
.color{
    background-color: #9ca1a1;
    color:white;
    font-family: "Rubik", sans-serif;
}
form{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 40vw;
    height:60vh;
    border-radius: 1px;
    background: rgba(0, 0, 0, .5)/*الخلفيه شفافه */
}
h1{
    padding-top: 10px;
    text-align: center;
    color: white;
}
h5{
    
    text-align: center;
    color: white;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 20px;
    color: white;
}
input[type="text"],input[type="password"],input[type="email"]{
    padding: 15px;
    width: 35vw;
    height: 3vh;
    border: none;
    background: none;
    position: absolute;
    color: aliceblue;  
    margin-left: 2.5vw;
}
input[type="submit"]{
    width: 38vw;
    height: 6vh;
    margin-top: 13vh;
    background-color: rgb(250, 250, 250);
    color: black;
    margin-left: 1vw;
    cursor: pointer;
}
.remember{
    margin-top: 2vh;
    color: #d1d0d0;
   position: absolute;
   padding: 15px;
}
#color{
    background-color: #563d7c;
    color:white;
}
.remember a{
   margin-left: 20vw;
}
.fa{
    padding: 8px 16px;
    color: #5f5f5f;
}
h5{
    display: inline;
}
.font{
    margin-top:5vh;
    text-align: center;
    margin-bottom: 0;
}